@font-face {
    font-family: 'Helvetica Neue';
    src: url("../helvetica-font/HelveticaNeue-Medium/HelveticaNeue-Medium.eot");
    src: url("../helvetica-font/HelveticaNeue-Medium/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"),
    url("../helvetica-font/HelveticaNeue-Medium/HelveticaNeue-Medium.woff") format("woff"),
    url("../helvetica-font/HelveticaNeue-Medium/HelveticaNeue-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url("../helvetica-font/HelveticaNeue-Regular/HelveticaRegular.eot");
    src: url("../helvetica-font/HelveticaNeue-Regular/HelveticaRegular.eot?#iefix") format("embedded-opentype"),
    url("../helvetica-font/HelveticaNeue-Regular/HelveticaRegular.woff") format("woff"),
    url("../helvetica-font/HelveticaNeue-Regular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}