$main-font: 'Helvetica Neue', sans-serif;
$secondary-font: "Raleway", sans-serif;
$icon-font: 'FontAwesome';

$main-color: #848484;
$secondary-color: #2ecc71;
$primary-bg-color: #e3e3e3;
$heading-color: #222222;
$icon-color: #f4f4f4;
$black-color: #000000;
$white-color: #ffffff;